.left-box {
  display: flex;
  height: 800px;
  border: 1px solid #E09657;

  .logo-box {
    display: flex;
    /* width: auto; */
    height: 200px;
  }
}

.right-box {
    display: flex;
    /* margin-top: 16px; */
    /* background: #fff; */
    background-image: url('../../img/agld2.jpg');
    background-size: 100% 100%;
    min-height: 100vh;
    width: 100%;
    padding: 16px;
    justify-content: center;

    .content-box {
      border-radius: 10px;
      margin-top: 16px;
      margin-bottom: 8px;
      background: #fff;
      opacity: 0.9;
    }

    .from_box {
      background-color: #fff;
      /* border: 1px solid #d9d9d9; */
      border-radius: 5px;
      /* margin-top: 16px; */
      height: 150px;
      padding: 16px;
      color: #E09657;
  
      .f1 {
        display: flex;
        justify-content: space-between;
      }
  
      .input_box {
        /* margin-top: 20px; */
        display: flex;
        justify-content: space-between;
      }
    }
  
    .to_box {
      background-color: #fff;
      border: 1px solid #E09657;
      border-radius: 5px;
      margin: 16px;
      height: 100px;
      padding: 16px;
      color: #E09657;
  
      .t1 {
        display: flex;
        justify-content: space-between;
      }
      .t2 {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
      }
    }
    
    .btn-box {
      padding: 16px;
    }
  
    .summary_box {
      margin-top: 16px;
      padding: 16px;
  
    }
  
  
  }