.left-box {
  display: flex;
  height: 800px;
  border: 1px solid #E09657;

  .logo-box {
    display: flex;
    /* width: auto; */
    height: 200px;
  }
}

.menuBox {
  font-family: Neue Haas Grotesk Display Pro;
  /* position: absolute; */
  width: 100%;
  height: 58px;
  left: 0px;
  top: 0px;
  background: #1F1A15;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .logoBox {
    /* left: 46px; */
    /* top: 13px; */
    margin-left: 46px;
    width: 92px;
    height: 32px;
  }
  .logo {
    width: 100%;
    height: 100%;
  }

  .menu {
    width: 309px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    .menuItem {
      color: #fff;
      font-size: 14px;
      text-decoration: none;

    }
  }



  .connect {
    width: 160px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border: 1px solid #f39b4b;
    background: #f39b4b;
    border-radius: 6px;
    color:  #000;
  }
  .connect:hover {
    background: #f39b4b; /* 设置悬停时的背景颜色 */
    color: #000; /* 设置悬停时的文本颜色 */
  }
    .connect-btn {
      color: #000;
      font-size: 16px;
      font-weight: 600;
      background: #f39b4b;
      
    }



}

.right-box {
    display: flex;
    /* margin-top: 16px; */
    /* background: #fff; */
    background-image: url('../../img/bridge_web_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    padding: 16px;
    justify-content: center;


    .logoBox {
      width: 166px;
      height: 58px;
      margin-top: 39px;
    }
    .logo {
      width: 100%;
      height: 100%;
    }
    .alb_box {
      width: 602px;
      height: 61px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 12px;
      opacity: 1;
    }

    .alb_title {
      font-family: 'Parabole';
      font-size: 54px;
      color: #f39b4b;
    }

    .content_box {
      border-radius: 8px;
      margin-top: 32px;
      width: 501px;
      height: 570px;
      background: #31281f;
      border: 1px solid rgba(255, 255, 255, 0.1);

    }

    .detail_box {
      padding: 33px 37px 34px 37px;


    .from_box {
      display: flex;
      flex-direction: column;
    }

    .from_select {
      font-family: Neue Haas Grotesk Display Pro;
      display: flex;
      flex-direction: row;
      align-items: center;

      .item1 {
        font-size: 14px;
        color: #fff;
        font-weight: 600;
        font-family: 'NeueHaasDisplayMediu';
      }
      .item2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 36px;
        width: 159px;
        background: #211a12;
        border-radius: 6px;
        margin-left: 5px;
        opacity: 1;

        .item3 {
          font-size: 14px;
          color: #fff;
          font-weight: 600;
          margin-left: 8px;
        }

      }
      .select {
        margin-left: 5px;

      }

    }
    .send_box {
      margin-top: 10px;
      height: 92px;
      border: 1px solid #211a12;
      border-radius: 6px;
      background: #211a12;
      padding: 14px 13px 14px 11px;

      .send_title {
        font-family: Neue Haas Grotesk Display Pro;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #fff;
        justify-content: space-between;
        margin-bottom: 20px;
      }
      .send_txt {
        font-size: 12px;
        color: #fff;
      }

      .send_input_box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-family: Neue Haas Grotesk Display Pro;
        color: #fff;
        margin-top: 40px;
        
      }

      .send_custom_input {
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
        
      }
      .send_custom_input:focus {
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
      }
      .send_custom_input::placeholder {
        color: #ffffff; /* 你可以根据需要修改颜色 */
        font-size: 20px;
        font-weight: 600;
        font-family: 'NeueHaasDisplayMediu';
      }

      .send_input_logo {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin-left: 15px;

        .eth_txt {
          font-size: 12px;
          color: #fff;
        }
      }


    }

    .trans_box {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;

    }
    .to_box {
      font-family: Neue Haas Grotesk Display Pro;
      color: #fff;
      display: flex;
      flex-direction: row;
      font-size: 14px;
      align-items: center;
      justify-content: flex-start;
      margin-top: 20px;

      .to_1 {
        flex-shrink: 0;
        font-size: 14px;
        color: #fff;
        font-weight: 600;
        font-family: 'NeueHaasDisplayMediu';

      }

      .to_2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-left: 23px;
        height: 36px;
        width: 155px;
        /* min-width: 155px; */
        background: #211a12;
        border-radius: 6px;
        white-space: nowrap;
      }
          
        .to_3 {
          font-size: 14px;
          color: #fff;
          font-weight: 600;
          margin-left: 8px;
          /* flex-shrink: 0; */
          flex-shrink: 0; 
        }

    }

    .receive_box {
      height: 92px;
      background: #211a12;
      margin-top: 16px;
      border-radius: 6px;
      font-family: Neue Haas Grotesk Display Pro;
      color: #fff;
      display: flex;
      flex-direction: column;
      padding: 14px 13px 14px 11px;


      .receive_title {
        font-size: 12px;
      }

      .receive_num {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 20px;
        margin-top: 45px;
        align-items: center;

        .eth_num {
          font-size: 20px;
          font-family: 'NeueHaasDisplayMediu';
          font-weight: 600;
          flex: 6;
        }

      
      .receive_eth {
        display: flex;
        flex: 1;
        flex-direction: row;

        .eth_txt {
          font-size: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    }
    
    .gas {
      font-family: Neue Haas Grotesk Display Pro;
      margin-top: 14px;
      font-size: 12px;
      color: #fff;
    }
    .btn-box {
      margin-top: 21px;

    }
  

  }
  
  
  }